/* Josh Comeau's CSS Reset: https://www.joshwcomeau.com/css/custom-css-reset/ */

*, *::before, *::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

html, body {
  height: 100%;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

input, button, textarea, select {
  font: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

#root, #__next {
  isolation: isolate;
}

/* User styles */

#root {
  margin: auto auto;
  padding: 0 5%;
  display: flex;
	flex-direction: column;
  align-items: center;
	align-content: center;
}

textarea {
  border: none;
  outline: none;
  resize: none;
  white-space: pre-wrap;
  padding: 1rem;
  margin-top: 0.75rem;
  margin-bottom: 0.75rem;
  font-size: inherit;
  border-radius: 5px;
  width: 75vw;
}

@media only screen and (max-width: 768px) {
  textarea {
    width: 100%;
  }
}

a {
  text-decoration: none;
  color: #ddcf04;
}

.flex-start {
  align-self: flex-start
}

.flex-end {
  align-self: flex-end;
}

.flex-center {
  align-self: center;
}

.hidden {
  display: none;
}

.button {
  font-size: inherit;
  font-family: inherit;
  margin-top: 0.75rem;
  margin-bottom: 0.75rem;
  padding: 0.75rem;
  border: none;
  outline: none;
  color: rgb(255, 255, 255);
  background: #333;
  cursor: pointer;
  border-radius: 5px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button:hover {
  background: #000;
}

.footer {
  font-size: small;
  text-align: center;
}
